.social-icon-x3
  width 60px
  height 60px
  line-height 60px
  font-size 30px
  text-align center
  color #fff

.github-icon
  background #000000

.facebook-icon-v2
  background #000000
  color #21252b
  &:hover
    background #3b5998
    color #fff

.facebook-icon
  background #3b5998

.facebook-icon-v2
  background #f4f6f6
  color #21252b
  &:hover
    background #3b5998
    color #fff

.facebook-icon-v3
  background transparent
  color #21252b
  &:hover
    background #3b5998
    color #fff

.twitter-icon
  background #55acee

.twitter-icon-v2
  background #f4f6f6
  color #21252b
  &:hover
    background #55acee
    color #fff

.twitter-icon-v3
  background transparent
  color #21252b
  &:hover
    background #55acee
    color #fff

.dribbble-icon
  background #ea4c89

.dribbble-icon-v2
  background #f4f6f6
  color #21252b
  &:hover
    background #ea4c89
    color #fff

.dribbble-icon-v3
  background transparent
  color #21252b
  &:hover
    background #ea4c89
    color #fff

.linkedin-icon
  background #1b85bd

.linkedin-icon-v2
  background #f4f6f6
  color #21252b
  &:hover
    background #1b85bd
    color #fff

.linkedin-icon-v3
  background transparent
  color #21252b
  &:hover
    background #1b85bd
    color #fff

.youtube-icon
  background #cc181e

.youtube-icon-v2
  background #f4f6f6
  color #21252b
  &:hover
    background #cc181e
    color #fff

.youtube-icon-v3
  background transparent
  color #21252b
  &:hover
    background #cc181e
    color #fff

.behance-icon
  background #2d9ad2

.behance-icon-v2
  background #f4f6f6
  color #21252b
  &:hover
    background #2d9ad2
    color #fff

.behance-icon-v3
  background transparent
  color #21252b
  &:hover
    background #2d9ad2
    color #fff

.google-plus-icon
  background #d44032

.google-plus-icon-v2
  background #f4f6f6
  color #21252b
  &:hover
    background #d44032
    color #fff

.google-plus-icon-v3
  background transparent
  color #21252b
  &:hover
    background #d44032
    color #fff

.flickr-icon
  background #ff0084

.flickr-icon-v2
  background #f4f6f6
  color #21252b
  &:hover
    background #ff0084
    color #fff

.flickr-icon-v3
  background transparent
  color #21252b
  &:hover
    background #ff0084
    color #fff

.skype-icon
  background #01aef2

.skype-icon-v2
  background #f4f6f6
  color #21252b
  &:hover
    background #01aef2
    color #fff

.skype-icon-v3
  background transparent
  color #21252b
  &:hover
    background #01aef2
    color #fff

.tumblr-icon
  background #34465e

.tumblr-icon-v2
  background #f4f6f6
  color #21252b
  &:hover
    background #34465e
    color #fff

.tumblr-icon-v3
  background transparent
  color #21252b
  &:hover
    background #34465e
    color #fff

.vimeo-icon
  background #0491bc

.vimeo-icon-v2
  background #f4f6f6
  color #21252b
  &:hover
    background #0491bc
    color #fff

.vimeo-icon-v3
  background transparent
  color #21252b
  &:hover
    background #0491bc
    color #fff

.instagram-icon
  background #f4b97a

.instagram-icon-v2
  background #f4f6f6
  color #21252b
  &:hover
    background #f4b97a
    color #fff

.instagram-icon-v3
  background transparent
  color #21252b
  &:hover
    background #f4b97a
    color #fff

.pinterest-icon
  background #cb2027

.pinterest-icon-v2
  background #f4f6f6
  color #21252b
  &:hover
    background #cb2027
    color #fff

.pinterest-icon-v3
  background transparent
  color #21252b
  &:hover
    background #cb2027
    color #fff

.soundcloud-icon
  background #fe531b

.soundcloud-icon-v2
  background #f4f6f6
  color #21252b
  &:hover
    background #fe531b
    color #fff

.soundcloud-icon-v3
  background transparent
  color #21252b
  &:hover
    background #fe531b
    color #fff

.yahoo-icon
  background #572c73

.yahoo-icon-v2
  background #f4f6f6
  color #21252b
  &:hover
    background #572c73
    color #fff

.yahoo-icon-v3
  background transparent
  color #21252b
  &:hover
    background #572c73
    color #fff

.dropbox-icon
  background #0089d1

.dropbox-icon-v2
  background #f4f6f6
  color #21252b
  &:hover
    background #0089d1
    color #fff

.dropbox-icon-v3
  background transparent
  color #21252b
  &:hover
    background #0089d1
    color #fff

.joomla-icon
  background #0266bb

.joomla-icon-v2
  background #f4f6f6
  color #21252b
  &:hover
    background #0266bb
    color #fff

.joomla-icon-v3
  background transparent
  color #21252b
  &:hover
    background #0266bb
    color #fff

.wordpress-icon
  background #464646

.wordpress-icon-v2
  background #f4f6f6
  color #21252b
  &:hover
    background #464646
    color #fff

.wordpress-icon-v3
  background transparent
  color #21252b
  &:hover
    background #464646
    color #fff