@import "_partial/mixins"
@import "_partial/variables"
@import "_partial/generics"
@import "_partial/icon"
@import "_partial/carousel"
@import "_partial/navbar"
@import "_partial/timeline"
@import "_partial/contact"


.intro
  display table
  width 100%
  height 100%
  text-align center
  color #fff
  .intro-body
    display table-cell
    vertical-align middle
  .brand-heading
    font-size 48px

.about
.work
  color black-text
  padding 100px 0 0 0
  background url('//s3.amazonaws.com/rf1987-assets/gplaypattern.png')

.contact
.footer
  color white
  padding 60px 0 60px 0


@media (min-width 768px)
  .intro
    .brand-heading
      font-size 100px
    .intro-text
      font-size 36px