<nav role="navigation" class="navbar navbar-custom navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target=".navbar-main-collapse" class="navbar-toggle">
      <i class="fa fa-bars"></i>
    </button>
    <a href="//rickfrom1987.com" data-scroll-to="intro" class="navbar-brand page-scroll">
      <span class="light">RickFrom1987</span>
    </a>
  </div>
  <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
    <ul class="nav navbar-nav">
      <li class="hidden"><a href="#page-top"></a></li>
    </ul>
  </div>
</nav>
<header class="site-head hipsterbg pink br noise">
    <div class="vertical">
        <div class="site-head-content inner">
            <% if (theme.logo) { %> <a class="blog-logo circle" href="<%- config.root %>"></a> <% } %>
            <h1 class="blog-title"><%- config.title %></h1>
            <h2 class="blog-description"><%- config.subtitle %></h2>
        </div>
    </div>
</header>