<nav role="navigation" class="navbar navbar-custom navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target=".navbar-main-collapse" class="navbar-toggle">
      <i class="fa fa-bars"></i>
    </button>
    <a href="//rickfrom1987.com" class="navbar-brand">
      RickFrom1987
    </a>
  </div>
  <div class="collapse navbar-collapse navbar-main-collapse navbar-right">
    <ul class="nav navbar-nav">
      <li class="hidden"><a href="#page-top"></a></li>
    </ul>
  </div>
    <!-- Begin MailChimp Signup Form -->
<!--   <div id="mc_embed_signup">
    <form action="//rickfrom1987.us9.list-manage.com/subscribe/post?u=ce8e7adff766f9d9310964da6&amp;id=d400759349" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
      <h2>Subscribe to RickFrom1987!</h2>
    <div class="mc-field-group">
      <label for="mce-EMAIL">Email Address </label>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div> 
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_ce8e7adff766f9d9310964da6_d400759349" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
    </form>
  </div> -->
  <!--End mc_embed_signup-->
</nav>
<header class="site-head hipsterbg pink br noise">
  <div class="vertical">
      <div class="site-head-content inner">
          <% if (theme.logo) { %> <a class="blog-logo circle" href="<%- config.root %>"></a> <% } %>
          <h1 class="blog-title"><%- config.title %></h1>
          <h2 class="blog-description"><%- config.subtitle %></h2>
      </div>
  </div>
</header>