#work-gallery.carousel.slide(data-ride='carousel')
  ol.carousel-indicators
    li.active(data-target='#myCarousel', data-slide-to='0')
    li(data-target='#myCarousel', data-slide-to='1')
    li(data-target='#myCarousel', data-slide-to='2')
  .carousel-inner.drop-shadow.bottom
    .item.active
      .overlay
      img(src='//s3.amazonaws.com/rf1987-assets/hd.png', alt='First slide')
      .container
        .carousel-caption
          h1.main-link
            a(href="//haikudeck.com" data-hover="Haikudeck.com") Haikudeck.com
    .item
      .overlay
      img(src='//s3.amazonaws.com/rf1987-assets/buuteeq.png', alt='Third slide')
      .container
        .carousel-caption
          h1.main-link
             a(href="//buuteeq.com" data-hover="Buuteeq.com") Buuteeq.com

    .item
      .overlay
      img(src='//s3.amazonaws.com/rf1987-assets/y.png', alt='Third slide')
      .container
        .carousel-caption
          h1.main-link
             a(href="//yahoo.com" data-hover="yahoo.com") Yahoo.com


  a.left.carousel-control(href='#work-gallery', role='button', data-slide='prev')
    span.carousel-left.fa.fa-angle-left
  a.right.carousel-control(href='#work-gallery', role='button', data-slide='next')
    span.carousel-right.fa.fa-angle-right