footer.footer.text-center.dark
  .container
    .row
      .col-md-12.col-sm-12
        h3 Stalk Me Online
        ul.social.list-inline
          li
            a(href='//www.github.com/Gitchen')
              i.fa.fa-github.social-icon.social-icon-x3.rounded
          li
            a(href='//www.facebook.com/rickfrom1987')
              i.fa.fa-facebook.social-icon.social-icon-x3.rounded
          li
            a(href='//twitter.com/rickfrom1987')
              i.fa.fa-twitter.social-icon.social-icon-x3.rounded
          li
            a(href='//www.linkedin.com/in/rickfrom1987')
              i.fa.fa-linkedin.social-icon.social-icon-x3.rounded

//- section
//-   nav#footer-menu
//-     ul
//-       li
//-         a(href=config.root + 'about') About
//-       li
//-         a(href=config.root + 'archives') Archive
//-       li
//-         a(href='http://github.com/widatama/hexo-jade-barebone') Source
//-       li
//-         a(href=theme.rss ? theme.rss : config.root + 'atom.xml') Feed
//-         