.col-md-12.col-sm-12
  .single_box.style7
    .icons_introimg.image-icon.box.orange
      i.fa.fa-code
    h3 Shipping Code 
    p.introtext
      | I am comfortable with most frontend stacks! My current favorite toolsets: node.js , express, knockout, jQuery, bower, grunt and gulp!

.col-md-12.col-sm-12
  .single_box.style7
    .icons_introimg.image-icon.box.purple
      i.fa.fa-rocket
    h3 Building Cool Things
    p.introtext
      | I enjoy working with startups and people who are interested in building cool things. I can help with shipping solid code, simple design and building a culture!