header.intro.pink-bg.br.noise
  .container-fluid.intro-body
    .row
      .col-md-8.col-md-offset-2
        h1.brand-heading Frontend Dude.
        p.intro-text
          | I am currently @ 
          span.main-link
            a(href="//buuteeq.com" data-hover="Buuteeq!") Buuteeq!
          
        a.btn.btn-circle.page-scroll(href='#work' data-scroll-to="work")
          i.fa.fa-angle-down.animated
    //- block header
    //-   h1#site-title
    //-     a(href=config.root)= config.title
    //-   p#site-slogan= config.subtitle