script(src="//code.jquery.com/jquery-2.1.1.min.js")
script(src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js")
script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js")
script(src= config.root + "js/app.js")