.col-md-12.col-sm-12
  .single_box.style7
    .icons_introimg.image-icon.box.red
      i.fa.fa-fighter-jet
    h3 Streamline Your Process
    p.introtext
      | I love teaching people about tools and techniques to streamline thier workflow and make thier lives online easier and fun!
.col-md-12.col-sm-12
  .single_box.style7
    .icons_introimg.image-icon.box.blue
      i.fa.fa-thumbs-up
    h3 Positive Culture
    p.introtext
      | I pride myself on spending extra time to create a positive and fun environment for any project that I take on!