.experience
  .experience-img.drop-shadow.bottom
    a(href="//buuteeq.com")
      img.rounded(src='//s3.amazonaws.com/rf1987-assets/buuteeq-icon.png', alt='')
  .experience-info.clear-after
    h3 Buuteeq
    h3.role Software Developer
    p
      | Worked directly with clients. Improved team workflow and architecture. Shipped features that made clients happy.
.experience
  .experience-img.drop-shadow.bottom
    a(href="//haikudeck.com")
      img.rounded(src='//s3.amazonaws.com/rf1987-assets/haikudeck-icon.png', alt='')
  .experience-info.clear-after
    h3 Haiku Deck
    h3.role Frontend Engineer
    p
      | I did frontend work but learned how to become a more well rounded developer. I managed projects and shipped solid features.
.experience
  .experience-img.drop-shadow.bottom
    a(href="//yahoo.com")
      img.rounded(src='//s3.amazonaws.com/rf1987-assets/yahoo-icon.png', alt='')
  .experience-info.clear-after
    h3 Yahoo!
    h3.role Software Developer
    p
      | This was a huge learning experience on how the web works. Exposed to build systems and releases at Yahoo! scale. Built prototypes for Yahoo! local using javascript, css and node.js