.year
  h5 2014
.experience
  span.circle
  .experience-img.drop-shadow.bottom
    a(href="//buuteeq.com")
      img.rounded(src='//s3.amazonaws.com/rf1987-assets/buuteeq-icon.png', alt='')
  .experience-info.clear-after
    h5 Buuteeq
    h5.role Software Developer
    p
      | Worked directly with clients. Improved team workflow and architecture. Shipped features that made clients happy.
.year
  h5 2013
.experience
  span.circle
  .experience-img.drop-shadow.bottom
    a(href="//haikudeck.com")
      img.rounded(src='//s3.amazonaws.com/rf1987-assets/haikudeck-icon.png', alt='')
  .experience-info.clear-after
    h5 Haiku Deck
    h5.role Frontend Engineer
    p
      | I did frontend work but learned how to become a more well rounded developer. I managed projects and shipped solid features.
.year
  h5 2012
.experience
  span.circle
  .experience-img.drop-shadow.bottom
    a(href="//yahoo.com")
      img.rounded(src='//s3.amazonaws.com/rf1987-assets/yahoo-icon.png', alt='')
  .experience-info.clear-after
    h5 Yahoo!
    h5.role Software Developer
    p
      | This was a huge learning experience on how the web works. Exposed to build systems and releases at Yahoo! scale. Built prototypes for Yahoo! local using javascript, css and node.js